.form {
  position: relative;

  .form__close {
    display: inline-block;
    padding: 1px 5px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #40005d;
    transition: all 1s linear;
  }

  .form__close:hover {
    transform: scale(1.1);
  }
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: left;

  .new-expense__control {
    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
      display: block;
    }

    input {
      font: inherit;
      padding: 0.5rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      width: 20rem;
      max-width: 100%;
    }
  }
}

.new-expense__actions {
  text-align: right;
  button {
    border-radius: 4px;
  }
}
