.expense-page {
  width: 60%;
  padding: 20px 40px;
  margin: 40px auto;
  background-color: dodgerblue;

  .expenses {
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    background-color: rgb(31, 31, 31);
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
}
